@charset "utf-8";


#tab-title{
	width:960px;
	margin:auto;
	margin-top:20px;
/*	margin-left:160px;
	margin-top:10px;
	margin-bottom:0px;*/
	font-family:"微软雅黑";
	font-size:16px;
	color:#9d752a;
	font-weight:bold;
	text-align:center;
	height:20px
}
#menu{
    height:21px;
	width:960px;
	margin-top:15px;

	/*margin-top:10px;
	margin-bottom:0px;*/
	font-family:"微软雅黑";
	font-size:16px;
	color:#9d752a;
	font-weight:bold;
	text-align:center;
}
.selected{
	color:#9d752a;
	font-size:18px;
	font-weight:bold;
	border-bottom:3px solid #9d752a;
	/*background-image:url(../Images/select.png);*/
	width:150px;
	height:40px;
	font-family:"微软雅黑";
	} /*ⱻѡʱʽ*/
.noselected{
	color:#676767;
	font-size:18px;
	width:900px;
	margin-top:-30px;
	font-family:"微软雅黑";
	font-weight:500;
	}
#underline{
	background-image:url(../Images/bg_xian.png);
	height:7px;
	background-repeat:repeat-x;
	margin:auto;
	margin-bottom:5px;
/*	margin-left:160px;
	margin-bottom:5px;
	margin-top:0px;*/
	}
#title-content{
    width:960px;
	margin:auto;
	font-family:"微软雅黑";
	font-size:16px;
}	

#tab-search{
    clear:both;
	width:960px;
	margin:auto;
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
	float:right
}

#search-button1{
    display:inline-block;
}
#search-button2{
    display:inline-block;
}
#s-button1{
    width:211px;
	height:48px;
	background-image:url(../Images/peiwufenxi_01.png);
	margin-right:100px;
}
#s-button2{
    width:211px;
	height:48px;
	background-image:url(../Images/xiangguan_01.png);
}
#s-button1:hover{
    width:211px;
	height:48px;
	background-image:url(../Images/peiwufenxi_02.png);
}
#s-button2:hover{
    width:211px;
	height:48px;
	background-image:url(../Images/xiangguan_02.png);
}

#main-content{
    clear:both;
/*    margin-left:160px;*/
    width:960px;
	margin:auto;
	height:auto;
	margin-bottom:100px;
	background-color:#f5f2f1;
	text-align:center;
}

#tab-title-ana{
	margin-top:50px;
}
