@CHARSET "UTF-8";

html {
	font-family: "宋体"; 
	font-size: 10px;
}

body {
	background-color: #f5f2f1; 
	font-size: 1.2em; 
	height: 100%;
}

.cf:before {
	display: table; 
	content: "";
}
.cf:after {
	display: table; 
	content: "";
}
.cf:after { clear: both; }
.cf { zoom: 1; }

.clearfix {
	clear: both;
}

.bg_heise{ background-color:#f5f2f1; }

.imgFrame {
	margin:auto;
	width:960px;
}

.logo { margin-top:0px; }

.logoSearch {
	width: 100%; 
	height: 93px; 
/*	background-image:url(../image/top_back.png); */
	background-repeat:repeat-x
}

.logoSearch_L2 {
	margin: auto; 
	width: 960px;
	padding-bottom: 10px;
}
.logoSearch_L2 .logo {
	float: left; 
	padding-top: 18px; 
	height:75px
}

.logoSearch_L2 .search {
	width: 1006px; 
	height: 45px; 
	padding-top: 10px; 
}

.logoSearch_L2 .search .text {
/*     border-bottom: #e2c7b9 1px solid;
    border-left: #e2c7b9 1px solid;
    padding-bottom: 10px;
    line-height: 15px;
    background-color: #ffffff;
    padding-left: 8px;
    width: 670px;
    padding-right: 8px;
    float: left;
    height: 37px;
    color: #000000;
    border-top: #e2c7b9 1px solid;
    border-right: #e2c7b9 1px;
    padding-top: 10px;
    vertical-align: middle;
    font-size: 15px; */
    line-height: 20px;
	width: 580px;
	padding: 10px 9px 10px 7px;
	vertical-align: middle;
	font-size: 16px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.logoSearch_L2 .search .search-btn {
/* 	width: 168px; 
	display: inline-block; 
	background-image:url(../image/fx_btn.png); 
	backgound-position: 0px 0px; 
	float: left; 
	height: 37px; */
			height: 46px;
			line-height: 40px;
			font-size: 16px;
			padding: 0;
			margin: 0;
			width: 104px
}

.logoSearch_L2 .search input.button:hover {
	/* background-image:url(../image/fx_btn_click.png); */ 
}

#container {
	width: 75%;
	padding-top: 10px;
	margin: 0px auto;
}

#main_content {
	background-color: #fff;
	float: left;
	/*padding: 20px;*/
	width: 100%;
}

.tabs {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	width: 175px;
	/*width: 857px;*/
	margin: 0 !important;
	height: 35px;
	background-color: rgba(64, 64, 64, 0.05);
}
.tabs li {
	float:  left;
	margin: 0;
	overflow: hidden;
	background-color: #444;
}
.tabs li a {
	display: block;
	color: #fff;
	text-decoration: none;
	font: bold 13px/15px 'Arial';
	text-transform: uppercase;
	padding: 10px 15px;
	border-right: 1px solid #fff;
}

.tabs li a:hover {
		background-color: #00b3ff;

}

.tabs li.active a {
	color:  #000;
	background-color: #fff;
}

.graph {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	margin-bottom: 18px; 
	width: 65%;
	min-height: 800px;
	float: left;
	text-align:center;
}

#graph1 {
	/* height: 45%; */
	min-height:300px;

}

#graph2 {
	height: 45%;
}

.graph_head {
	font-size: 16px;
	font-weight: bold;
    padding-top: 5px;
    padding-bottom:5px;
}
.errorhit{
	line-height:200px;
}
.panel-titles{
	font-size:14px;
	margin:0;
}
.panel-titles a{
	color:  #000;
}
#zc_chuchu {
	font-size: 12px;
}

#separate {
	height: 5px;
	background: #eee; 
	margin-bottom: 8px; 
}

#graph3 {
	/*width: 575px;
	height: 500px;
	text-align:center;*/

	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	margin-bottom: 18px; 
	width: 65%;
	height: 800px;
	float: left;
	text-align:center;
}

#graph3 svg{
	margin-top: 20%;
}

#descpt1 {
	margin:10px;
	text-align:center;
}

#descpt1 table {
	margin:auto;
	border:solid 1px #fff;
}

#descpt1 table td{
	text-align: left;
	border:solid 1px #fff;
}

#descpt1 table caption {
	font-size: 16px;
	float:left;
	height: 60px;
    line-height: 50px;
    padding-right: 30px;
}
#descpt1 table tbody{
	float:right;
}

#descpt1 svg {
	width: 12px;
	height: 20px;
}

#descpt2 {
	width: 500px;
	height: 110px;
	font-size: 12px;
	background-color: #fff;
}

#descpt2 div {
	margin-bottom: 2px;
	font-size: 16px;
}

#sidebar  {
	/*padding: 10px; */
	/*margin-bottom: 18px; */
	margin-left: 5%;
	float: left;
	width: 25%;
	height: 630px;
	/*background: #eee; */
}

.rootnode circle {
	fill: #fff;
	stroke: rgb(20, 93, 114);
	stroke-width: 2.5px;
}

.rootnode {
	font: 16px sans-serif;
 }
        
.childnode1 circle {
	fill: #fff;
	stroke: red;
	stroke-width: 1.5px;
}

.childnode circle, .childnode2 circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.childnode3 circle {
	fill: #fff;
	stroke: #008000;
	stroke-width: 1.5px;
}

.childnode1, .childnode2, .childnode3 {
	font: 10px sans-serif;
 }

.link {
	fill: none;
	stroke: #c9c26f;
	stroke-width: 2.5px;
 }

/*.alt_container{
	width: 222px;
	margin: 5px 0;
}
*/
.alt_container h2{
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.alt_page_navigation{
	padding: 10px 0 0;
	text-align: center;
}

.alt_page_navigation a{
	padding:2px 5px;
	margin:1px;
	color:white;
	text-decoration:none;
	font-family: Tahoma;
	font-size: 12px;
	background-color:#337ab7;/*#DB5C04;*/
}

.active_page{
	background-color:white !important;
	color:black !important;
}	

.alt_content{
	color: black;
}

.alt_content li{
	padding: 8px 5px;
}
.alt_content li a{
	color:#337ab7;
}
.alt_info_text {
	padding: 10px 0 10px;
	text-align: center;
}

.alt_content li:nth-child(odd) {
	background: #d9edf7;/*#FFD9BF;*/
}






.right-list{
	padding: 0 !important;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	min-height: 800px;
	overflow: auto;
}


.right-list ol li{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	
}
.right-list ol .odd{
	background-color: #E5EBF1;
}

.accordion {
 	width: 100%;
 	margin-top: 0;
    margin-bottom: 10px;
 }

.accordion .content{
	margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.accordion .title {
	cursor: pointer;
	display: block;
	color: #4D4D4D;
	font-size: 14px;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.accordion .content .title a {
	color: #000;
}

 .submenu {
 	display: none;
 }
