HTML {
	font-family: "微软雅黑";
	font-size: 10px
}

BODY {
	background-color: #f5f2f1;
	font-size: 1.2em;
	_height: 100%
}

.cf:after {
	display: table;
	content: "";
}

.cf:after {
	clear: both;
}

.cf:before {
	display: table;
	content: "";
}

.clearfix {
	clear: both
}

A {
	text-decoration: none
}

INPUT {
	outline-style: none
}

.logoSearch_L2 .search A.button {
	background-image: url(../Images/search_btn.png);
}

.logoSearch_L2 .search A.button:hover {
	background-image: url(../Images/search_btn_click.png);
}

.logoSearch {
	width: 100%;
	height: 224px;
	background-image: url(../Images/01.png);
	overflow: hidden;
}

.logoSearch_L2 {
	margin: 0 auto;
	width: 1006px;
}

.logoSearch_L2 .logo {
	float: left;
	padding-top: 18px;
	height: 75px;
}

.logoSearch_L2 .search {
	width: 1006px;
	height: 134px;
	padding-top: 40px;
	background-repeat: repeat-x;
}

.logoSearch_L2 .search .text {
	border-bottom: #e2c7b9 1px solid;
	border-left: #e2c7b9 1px solid;
	padding-bottom: 10px;
	line-height: 15px;
	background-color: #ffffff;
	padding-left: 8px;
	width: 580px;
	padding-right: 8px;
	float: left;
	height: 15px;
	color: #000000;
	border-top: #e2c7b9 1px solid;
	border-right: #e2c7b9 1px;
	padding-top: 10px;
	margin-left: 113px;
	vertical-align: middle;
	font-size: 15px;
}

@media Unknown {
	.logoSearch_L2 .search .text {
		line-height: 25px
	}
}

.logoSearch_L2 .search A.button {
	width: 168px;
	display: inline-block;
	background-image: url(../Images/search_btn.png);
	backgound-position: 0px 0px;
	float: left;
	height: 37px;
}

.logoSearch_L2 .search A.button:hover {
	background-image: url(../Images/search_btn_click.png);
}

.UnderSearchBarTabs1 {
	margin: auto;
	margin-top: -1px;
	width: 960px;
	text-align: center;
}