@CHARSET "UTF-8";

html{
	height:100%;
	overflow-y:auto;
}

body {
	background-color: #f5f2f1;
	font-size: 1.2em;
	font-family: "微软雅黑";
	height:100%;
}

#main{
	width:1006px;
	min-height:80%;
	overflow-y:auto;
	
	background-color: #ffffff;
	
	margin:50px auto;
}
#panel{
	width:600px;
	margin:50px auto;
}

.form_tip_error{
	color:#FF0000;
}
.form_tip_ok{
	color:#5fa207;
}