@charset "utf-8";
/* CSS Document */
/*
.Sub_category{
	background-color:#9d752a;
	width:140px;
	height:30px;
	color:#FFF;
	text-align:center;
}*/
.nav_top{
	width:1006px;
	margin-top:10px;
}

.search_result{
	vertical-align:bottom;
}

.search_result img{
	float:right;
}
.text_search{
	font-size:14px;
	font-family:"微软雅黑";
	color:#000;
	margin-left:0px;
}

.search_result a{
	font-size:18px;
	font-family:"微软雅黑";
	color:#9d752a;
}

.text_webrecommend{
	float:right;
	font-size:18px;
	font-family:"微软雅黑";
	color:#9d752a;
}

.result_webrecommend{
	float:left;
	font-size:18px;
	font-family:"微软雅黑";
	color:#000;
}

.text_webrecommend img{
	margin-top:-9px;
}

.result_num_wrap{
	margin-left:10px;
}

.result_num_wrap{
	font-family:"微软雅黑";
	color:#999;
}

.result_num{
	color:#D38D45;
}

.result_webrecommend img{
	float:left;
	margin-top:-9px;
}

.table{
	float:left;
	padding-top:20px;
	padding-bottom:30px;
}

.img_right{
	float:right;
	margin-top:-320px;
	margin-right:10px;
}

.text_title{
	text-align:left;
	vertical-align:middle;
	width:800px;
	padding:12px 20px 2px 20px;
	font-size:18px;
	font-family:"微软雅黑";
	color:#694600;
}

.text_content{
	width:960px;
	vertical-align:middle;
	padding:2px 20px 2px 20px;
}

.text_website{
	font-size:12px;
	color:#55bd78;
	font-family:"微软雅黑";
	padding:5px 20px 5px 20px;
}

.herb_left{
	padding-left:110px;
	padding-right:90px;
}

#underline_down_info{
	background-image:url(../images/noselect.png);
	height:1px;
	width:990px;
	background-repeat:repeat-x;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:8px;
	}	

#underline_cat{
	width:120px;
	border-bottom:1px solid #CCC;
	margin-top:5px;
	margin-bottom:5px;
}
.background_content{
width: 1006px;
float:left;
margin-top:8px;
padding-top:50px;
padding-bottom:40px;
}

#underline_category{
	width:1006px;
	border-bottom:2px solid #9d752a;
	margin-top:5px;
	margin-bottom:8px;
}
